#main{
  text-align: center;
}

#container{
  display: grid;
  padding: 10px;
  height: 70vh;
  width: 80vw;
  margin: auto;
  border: fuchsia 1px solid;
  margin-top: 30px;

}


.grid-item{
  border: rgb(201, 196, 201) 1px solid;
}
#reset{
  text-align: center;
}